// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$bg-color: #b5bc57 !default;
$bg-btn: #FC7D12 !default;
$bg-btn-disabled: #FC7D1280 !default;
