<!--<ion-content>-->
<!--&lt;!&ndash;  <form [formGroup]="registerForm">&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-label position="floating">First name</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-input formControlName="firstName" type="email"></ion-input>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->

<!--&lt;!&ndash;    <ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-label position="floating">Last name</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-input formControlName="lastName" type="email"></ion-input>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-item *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').touched">&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-note color="danger">Last name is required</ion-note>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->

<!--&lt;!&ndash;    <ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-label position="floating">Username</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-input formControlName="username" type="email"></ion-input>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-item *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-note color="danger">Email is required</ion-note>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->

<!--&lt;!&ndash;    <ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-label position="floating">Password</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-input formControlName="password" type="password"></ion-input>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-item *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-note color="danger">Password is required</ion-note>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->

<!--&lt;!&ndash;    <ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-label position="floating">Confirm Password</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-input formControlName="confirmPassword" type="password"></ion-input>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-item *ngIf="registerForm.get('confirmPassword').invalid && registerForm.get('confirmPassword').touched">&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-note color="danger">Passwords must match</ion-note>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->

<!--&lt;!&ndash;    <ion-button expand="full" (click)="onRegister()">Register</ion-button>&ndash;&gt;-->
<!--  </form>-->

<!--&lt;!&ndash;  <ion-button expand="full" routerLink="../sign-in">Login</ion-button>&ndash;&gt;-->
<!--</ion-content>-->
<ion-content class="main-bg">
    <router-outlet></router-outlet>
</ion-content>
